* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(89, 24, 50);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#logo {
  height: 2rem;
  width: 9rem;
}

#anchor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  gap: 6px;
}

.nav-anchors {
  text-decoration: none;
  color: rgb(255, 184, 208);
  padding: 2px 4px 2px 4px;
  background-color: rgb(135, 34, 74);
  border-radius: 10px;
}

main {
  height: 110%;
  width: 100%;
  background-image: url(../images/llleaves.svg);
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carrucel {
  height: 6rem;
  width: 100%;
  background-color: rgb(135, 34, 74);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 184, 208);
}

.arrow {
  height: 5vh;
  width: 4vw;
}

#searchbar {
  background-color: rgb(255, 184, 208);
  width: 100%;
  height: 100%;
  padding: 1rem 0rem 1rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.category-checkbox {
  display: flex;
  align-items: center;
  color: rgb(89, 24, 50);
}

#category-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#searchtext {
  width: 12rem;
}

#card-container {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.card {
  width: 9rem;
  height: 12rem;
  background-color: rgb(135, 34, 74);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.img-card {
  width: 8rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 10px;
}

span {
  font-size: smaller;
  color: rgb(255, 184, 208);
}

.card-inside {
  display: flex;
  width: 7rem;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: smaller;
  color: rgb(255, 184, 208);
}

.details-anchor {
  padding: 1px 6px 1px 6px;
  color: rgb(255, 184, 208);
  text-decoration: none;
  background-color: rgb(89, 24, 50);
  border-radius: 2px;
  font-size: smaller;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: rgb(89, 24, 50);
  color: rgb(255, 184, 208);
}

#icons-footer {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.icon-footer {
  width: 15%;
}

#contact {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem 0rem 5rem 0rem;
  gap: 0.5rem;
}

#detail-card {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem 0rem;
  background-color: rgb(135, 34, 74);
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#img-detail-card {
  border-radius: 1rem;
  width: 45%;
  height: 100%;
  object-fit: cover;
}

#content-detail-card {
  width: 45%;
  gap: 0.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: rgb(255, 184, 208);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: start;
  font-size: x-small;
}

th,
td {
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgb(255, 255, 255);
  color: #c23365;
  border: 2px solid rgb(57, 9, 20);
}

#tablas-estadisticas {
  text-align: start;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#tablas-estadisticas span {
  text-align: start;
  color: #c23365;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(57, 9, 20);
  border-collapse: collapse;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(89, 24, 50);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #logo {
    height: 2rem;
    width: 9rem;
  }

  #anchor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 6px;
  }

  .nav-anchors {
    text-decoration: none;
    color: rgb(255, 184, 208);
    padding: 2px 4px 2px 4px;
    background-color: rgb(135, 34, 74);
    border-radius: 10px;
  }

  main {
    height: 110%;
    width: 100%;
    background-image: url(../images/llleaves.svg);
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #carrucel {
    height: 6rem;
    width: 100%;
    background-color: rgb(135, 34, 74);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 184, 208);
  }

  .arrow {
    height: 5vh;
    width: 4vw;
  }

  #searchbar {
    background-color: rgb(255, 184, 208);
    width: 100%;
    height: 100%;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .category-checkbox {
    display: flex;
    align-items: center;
    color: rgb(89, 24, 50);
  }

  #category-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #searchtext {
    width: 12rem;
  }

  #card-container {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  .card {
    width: 9rem;
    height: 12rem;
    background-color: rgb(135, 34, 74);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .img-card {
    width: 8rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 10px;
  }

  span {
    font-size: smaller;
    color: rgb(255, 184, 208);
  }

  .card-inside {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    font-size: smaller;
    color: rgb(255, 184, 208);
  }

  .details-anchor {
    padding: 1px 6px 1px 6px;
    color: rgb(255, 184, 208);
    text-decoration: none;
    background-color: rgb(89, 24, 50);
    border-radius: 2px;
    font-size: smaller;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: rgb(89, 24, 50);
    color: rgb(255, 184, 208);
  }

  #icons-footer {
    width: 20%;
    display: flex;
    justify-content: space-around;
  }

  .icon-footer {
    width: 15%;
  }

  table {
    width: 90%;
    border-collapse: collapse;
    text-align: start;
    font-size: x-small;
  }

  th,
  td {
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: rgb(255, 255, 255);
    color: #c23365;
    border: 2px solid rgb(57, 9, 20);
  }

  #tablas-estadisticas {
    text-align: start;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #tablas-estadisticas span {
    text-align: start;
    color: #c23365;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(57, 9, 20);
    border-collapse: collapse;
  }
  #detail-card {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem 0rem;
    background-color: rgb(135, 34, 74);
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #img-detail-card {
    border-radius: 1rem;
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  #content-detail-card {
    width: 45%;
    gap: 0.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: rgb(255, 184, 208);
  }
}
